!!! 5
html
  head
    title Steam Wishlist
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet', type='text/css')
    script(src='/static/anal.js')
    block head
  body
    block content
